.idea/
__pycache__
_for_dol/*
_from_dol/*
data/*
draft/*
output/*
r_engine/*
build/*
dist/*
PR_comparison/*
hook-sklearn.py
Microsimulator.spec
*.exe
log/*
*.zip
.Rhistory
*.whl
test.py
test_fmla_clean.py
test_logit.R
test_r_python.py
*.swp
MicrosimTest.py
config.ini
