.idea/
__pycache__
data/*
from_luke/*
output/*
r_engine/*
build/*
dist/*
hook-sklearn.py
Microsimulator.spec
*.exe
log/*
*.zip
.Rhistory
*.whl
test.py
test_fmla_clean.py
test_logit.R
test_r_python.py
*.swp
MicrosimTest.py
config.ini
venv/
*.xlsx
r_model_full/R_dataframes
r_model_full/restricted_data
r_model_full/output
r_model_full/logs
r_model_full/.Rproj.user
r_model_full/.Rhistory
meta_output/
